<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>罗氏</title>
</head>
<body>
    <span>Dear Partner，</span><br>
    <br>
    <span>以下QFF状态已完结，请知悉，谢谢。</span><br>
    <table  style="width: 100%; border-collapse: collapse; border-top:1px solid #eee; font-size:14px; table-layout: fixed;">
        <tr style=" background: #fafafa; color: #333; border: 1px solid #eee;">
            <td style="border-right:1px solid #eee;text-align: center">NO编号</td>
            <td style="border-right:1px solid #eee;text-align: center">Initiator发起人</td>
            <td style="border-right:1px solid #eee;text-align: center">申请日期</td>
            <td style="border-right:1px solid #eee;text-align: center">Reason原因</td>
            <td style="border-right:1px solid #eee;text-align: center">产品/物料名称</td>
            <td style="border-right:1px solid #eee;text-align: center">产品/物料编号</td>
            <td style="border-right:1px solid #eee;text-align: center">批号/序列号</td>
            <td style="border-right:1px solid #eee;text-align: center">受影响数量</td>
            <td style="border-right:1px solid #eee;text-align: center">期望完成日期</td>
            <td style="text-align: center">变更记录</td>
        </tr>
        <p th:each="roche:${list}">
            <tr style=" background: #fafafa; color: #333; border-bottom: 1px solid #eee;">
                <td style="word-wrap:break-word;border-left:1px solid #eee;text-align: center" th:text="${roche.number}"></td>
                <td style="word-wrap:break-word;border-left:1px solid #eee;text-align: center" th:text="${roche.sponsor}"></td>
                <td style="word-wrap:break-word;border-left:1px solid #eee;text-align: center" th:text="${roche.reqDate}"></td>
                <td style="word-wrap:break-word;border-left:1px solid #eee;text-align: center" th:text="${roche.reason}"></td>
                <td style="word-wrap:break-word;border-left:1px solid #eee;text-align: center" th:text="${roche.materName}"></td>
                <td style="word-wrap:break-word;border-left:1px solid #eee;text-align: center" th:text="${roche.materCode}"></td>
                <td style="word-wrap:break-word;border-left:1px solid #eee;text-align: center" th:text="${roche.batch}"></td>
                <td style="word-wrap:break-word;border-left:1px solid #eee;text-align: center" th:text="${roche.quantity}"></td>
                <td style="word-wrap:break-word;border-left:1px solid #eee;text-align: center" th:text="${roche.exceptDate}"></td>
                <td style="word-wrap:break-word;border-left:1px solid #eee;border-right:1px solid #eee;text-align: center" th:text="${roche.alteration}"></td>
            </tr>
        </p>
    </table>
    <br>
    <span>更多详细信息可登录系统查看，统一供应链门户：<a href="https://qff.shaphar.com">https://qff.shaphar.com</a> </span>


</body>
<style>

    span{
        font-size: 20px;
        font-family: "宋体";
    }
</style>
</html>