<style>
    .item{
        width: 20px;
        height: 20px;
        border-radius: 60%;
        background-color: red;
        position: relative;
        top: 22px;
        right:-285px;
        text-align: center;
        color: #dcdfe6;
    }
    .skip_table{
        border-collapse: collapse;
        width: 100%;
        border-top:1px solid #eee;
    }
    .skip-tr{
        color: #333;
        border:1px solid #eee;
    }
    .skip-td{
        text-align: center;
        border-right:1px solid #eee;
    }
    .icon{
        width:210px;
        height:100px;
        border-radius:4px;
        color:#fff;
        line-height:20px;
        text-align:center;
        float: left;
    }

    .tip{
        width:130%;
        border:0px;
        border-radius:15px;
        background-color:#37DB90;
        margin-top:120px;
        margin-left: 120px;
        z-index:99;
        color:white;
        font-size:18px;
    }

    .tip .inner{
        background-color:#FFF;
        width:10px;
        height:10px;
        border:0px;
        position:relative;
        left:15px;
        top:-5px;
        transform:rotate(45deg);
        border-right:0px;
        border-bottom:0px;
        background-color:#37DB90;
    }
    .label{
        height: 100px;
        width: 280px;
        box-shadow: 0px 1px 6px 0px #827a7a;
        float:left
    }
    .label-left{
        margin-left: 15px;
    }
    .label-image{
        height: 100px;
        width: 60px;
        float: left;
        margin-left: 5px
    }
    .label-image-style{
        width:60px;
        height:60px;
        margin-top: 20px;
        margin-left: 5px;
    }
    .table-show{
        width: 95%;
        margin-left: 8px ;
        z-index: 999999;
        position: relative;
        margin-top: -8px
    }
    .skip-td-color{
        background-color: #37DB90
    }
    .qff-start{
        height: 100px;
        width: 215px;
        float: left
    }
    .qff-start-button{
        border: none;
        background-color:transparent;
    }
    .qff-start-text{
        text-align: center;
        margin-top: 33px;
    }

</style>
<div class="layui-fluid layui-anim febs-anim" id="fbs-serve" lay-title="我的待办">
    <div class="layui-row febs-container">
        <div class="item" id="bubbling"></div>
        <div class="layui-card-body febs-table-full">
            <div class="label" >
                <div class="label-image">
                    <img data-th-src="@{febs/images/mycomm.png}" class="label-image-style">
                </div>
                <div class="icon"  id="os-show">
                    <div style="text-align: center;margin-top: 38px;" id = "num" ></div>
                </div>
            </div>
            <div  class="label  label-left"   shiro:hasPermission="roche:add" >
                <div class="label-image">
                    <img data-th-src="@{febs/images/start.png}" class="label-image-style">
                </div>
                <div class="qff-start">
                    <div  class="site-demo-button  qff-start-text" >
                        <button  onclick="btnOn()" class="qff-start-button"><a style="color: #00A1DD"><h2>发起QFF</h2></a></button>
                    </div>
                </div>
            </div>
            <!--<div class="label  label-left" shiro:hasPermission="wrapper:add">-->
            <!--<div class="label-image">-->
                <!--<img data-th-src="@{febs/images/start.png}" class="label-image-style">-->
            <!--</div>-->
            <!--<div class="qff-start">-->
                <!--<div class="site-demo-button  qff-start-text">-->
                    <!--<button  onclick="addQff()" class="qff-start-button"><a style="color: #00A1DD"><h2>手工新增QFF</h2></a></button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
            <!--<div class="label  label-left" >-->
                <!--<div class="label-image">-->

                <!--</div>-->
                <!--<div class="qff-start">-->
                    <!--<div class="site-demo-button  qff-start-text">-->
                        <!--<button  onclick="textDemo()" class="qff-start-button"><a style="color: #00A1DD"><h2>创建测试使用</h2></a></button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="layui-col-md6 layui-col-sm6 layui-col-xs6 febs-hide"  style="margin-left: 15px;margin-top: 15px"  id="opes-show">
        <div class="layui-card">
            <div class="layui-card-body" >
                <table class="skip_table" id="opes" >
                    <tr class="skip-tr" style="background-color: #87e8de;height: 30px;">
                        <td class="skip-td " ><span >QFF审核</span></td>
                        <td class="skip-td "><span >待审核数量</span></td>
                        <td class="skip-td "><span >跳转地址</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<script data-th-inline="none" type="text/javascript">
    layui.use(['jquery', 'febs'], function () {
        var $ = layui.jquery,
            febs = layui.febs;


        var  isShow = 1;
        var to = {time:new Date()};
        var num = '';

        function counts(arr,value){
            var coun = 0;
            for(var i=0;i<=arr.length;i++){
                if(arr[i]===value){
                    coun+=1;
                }
            }
            return coun;
        }


        $.get(ctx +"file/findTask",to,function (data) {
            num = data.data;
            if(num.length===0||num[0] === ""){
                $("#num").append('<span style="color: #09FF7A"><h2>当前没有待办任务</h2></span>');
                $('#bubbling').attr("style","display:none;")
            }else {
                $("#num").append('<a ><h2 style="color: red">当前有'+num.length+'条待办任务</h2></a>');
                $("#bubbling").append(num.length)
            }

            if(counts(num,"delivery")!==0){
                $("#opes").append('<tr class="skip-tr">\n' +
                    '                    <td class="skip-td">到货</td>\n' +
                    '                    <td class="skip-td">'+counts(num,"delivery")+'</td>\n' +
                    '                    <td class="skip-td"><a lay-href="/delivery/view">点击跳转</a></td>\n' +
                    '                </tr>')
            }
            if(counts(num,"refund")!==0){
                $("#opes").append('<tr class="skip-tr">\n' +
                    '                    <td class="skip-td">退货</td>\n' +
                    '                    <td class="skip-td">'+counts(num,"refund")+'</td>\n' +
                    '                    <td class="skip-td"><a lay-href="/refund/view">点击跳转</a></td>\n' +
                    '                </tr>')
            }
            if(counts(num,"conserve")!==0) {
                $("#opes").append('<tr class="skip-tr">\n' +
                    '                    <td class="skip-td">储存 · 分包 · 出库</td>\n' +
                    '                    <td class="skip-td">' + counts(num, "conserve") + '</td>\n' +
                    '                    <td class="skip-td"><a lay-href="/conserve/view">点击跳转</a></td>\n' +
                    '                </tr>')
            }
            if(counts(num,"wrapper")!==0){
                $("#opes").append('<tr class="skip-tr">\n' +
                    '                    <td class="skip-td">其他手工QFF</td>\n' +
                    '                    <td class="skip-td">'+counts(num,"wrapper")+'</td>\n' +
                    '                    <td class="skip-td"><a lay-href="/wrapper/view">点击跳转</a></td>\n' +
                    '                </tr>')
            }
            if(counts(num,"recent")!==0){
                $("#opes").append('<tr class="skip-tr">\n' +
                    '                    <td class="skip-td">近效期</td>\n' +
                    '                    <td class="skip-td">'+counts(num,"recent")+'</td>\n' +
                    '                    <td class="skip-td"><a lay-href="/recent/view">点击跳转</a></td>\n' +
                    '                </tr>')
            }
            if(counts(num,"roche")!==0){
                $("#opes").append('<tr class="skip-tr">\n' +
                    '                    <td class="skip-td">罗氏发起</td>\n' +
                    '                    <td class="skip-td">'+counts(num,"roche")+'</td>\n' +
                    '                    <td class="skip-td"><a lay-href="/roche/view">点击跳转</a></td>\n' +
                    '                </tr>')
            }
            if(counts(num,"temperature")!==0){
                $("#opes").append('<tr class="skip-tr">\n' +
                    '                    <td class="skip-td">国际到货超温，无温度计</td>\n' +
                    '                    <td class="skip-td">'+counts(num,"temperature")+'</td>\n' +
                    '                    <td class="skip-td"><a lay-href="/temperature/view">点击跳转</a></td>\n' +
                    '                </tr>')
            }

            if(num.length!==0){
                $('#opes-show').removeClass("febs-hide")
            }


        });


        window.btnOn = function () {
            febs.modal.open('新增罗氏内部发起QFF', 'system/qff/roche/add' , {
                area: [$(window).width() <= 750 ? '90%' : '70%',$(window).width() <= 750 ? '90%' : '70%']
            });
        };

        // window.addQff = function () {
        //     febs.modal.open('新增手工QFF', 'system/qff/commodity/addQff',{
        //         area: [$(window).width() <= 750 ? '90%' : '70%',$(window).height() <= 750 ? '90%' : '60%']
        //     });
        // };
        //
        //
        // window.textDemo = function () {
        //     febs.modal.open('测试', 'system/qff/commodity/textDemo',{
        //         area: [$(window).width() <= 750 ? '90%' : '60%',$(window).width() <= 750 ? '90%' : '50%']
        //     });
        // }


    });
</script>

