<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neefull.fsp.web.qff.mapper.AttachmentMapper">

    <update id="updateStatusById"  >
        update qff_attachment set enable = #{status} where id= #{id}
    </update>
    <update id="updateStatusByNumberAndType">
        update qff_attachment set status  = 1  where  qff_id = #{number} and  qff_type = #{typt}
    </update>
    <delete id="deleteAttacheByNumberAndStage">
        delete from qff_attachment where  qff_id = #{number} and  qff_type = #{stage}
    </delete>
    <select id="selectByNumberAndType" resultType="com.neefull.fsp.web.qff.entity.Attachment">
        select * from qff_attachment where qff_id = #{number} and qff_type = #{type}  and  status !=1
    </select>
    <select id="selectByNumberAndRemark" resultType="com.neefull.fsp.web.qff.entity.Attachment">
        select * from qff_attachment where qff_id = #{number} and remark = #{attNumber}  and  status !=1
    </select>


</mapper>