<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neefull.fsp.web.qff.mapper.CommodityMapper">
    <update id="updateConserveStatus" >
        update qff_commodity set status = #{status} where id= #{id}
    </update>


    <select id="getConservePage" resultType="com.neefull.fsp.web.qff.entity.Commodity">
        select * from qff_commodity where stage = #{commodity.stage}
            <if test="commodity.transport!=null and commodity.transport!=''">
                and transport like concat('%',#{commodity.transport},'%')
            </if>
            <if test="commodity.number!=null and commodity.number!=''">
                and number like concat('%',#{commodity.number},'%')
            </if>
            <if test="commodity.plant!=null and commodity.plant!=''">
                and plant like concat('%',#{commodity.plant},'%')
            </if>
            <if test="commodity.kMater!=null and commodity.kMater!=''">
                and k_mater like concat('%',#{commodity.kMater},'%')
            </if>
            <if test="commodity.kBatch!=null and commodity.kBatch!=''">
                and k_batch like concat('%',#{commodity.kBatch},'%')
            </if>
            <if test="commodity.rMater!=null and commodity.rMater!=''">
                and r_mater like concat('%',#{commodity.rMater},'%')
            </if>
            <choose>
                <when test="commodity.isDanger =='01'">
                    and is_danger = '01'
                </when>
                <when test="commodity.isDanger =='00'">
                    and is_danger != '01'
                </when>
            </choose>
            <if test="commodity.pMater!=null and commodity.pMater!=''">
                and p_mater like concat('%',#{commodity.pMater},'%')
            </if>
            <if test="commodity.rBatch!=null and commodity.rBatch!=''">
                and r_batch like concat('%',#{commodity.rBatch},'%')
            </if>
            <if test="commodity.manuDate!=null and commodity.manuDate!=''">
                and manu_date like concat('%',#{commodity.manuDate},'%')
            </if>
            <if test="commodity.expiryDate!=null and commodity.expiryDate!=''">
                and expiry_date like concat('%',#{commodity.expiryDate},'%')
            </if>
            <if test="commodity.quarantine!=null and commodity.quarantine!=''">
                and quarantine like concat('%',#{commodity.quarantine},'%')
            </if>
            <if test="commodity.getRemark!=null and commodity.getRemark!=''">
                and get_remark like concat('%',#{commodity.getRemark},'%')
            </if>
            <if test="commodity.initDate!=null and commodity.initDate!=''">
                and init_date like concat('%',#{commodity.initDate},'%')
            </if>
            <if test="commodity.rConf!=null and commodity.rConf!=''">
                and r_conf like concat('%',#{commodity.rConf},'%')
            </if>
            <if test="commodity.repTime!=null and commodity.repTime!=''">
                and rep_time like concat('%',#{commodity.repTime},'%')
            </if>
            <if test="commodity.reason!=null and commodity.reason!=''">
                and reason like concat('%',#{commodity.reason},'%')
            </if>
            <if test="commodity.compNumber!=null and commodity.compNumber!=''">
                and comp_number like concat('%',#{commodity.compNumber},'%')
            </if>
            <if test="commodity.ba!=null and commodity.ba!=''">
                and ba like concat('%',#{commodity.ba},'%')
            </if>
            <if test="commodity.source!=null and commodity.source!=''">
                and source like concat('%',#{commodity.source},'%')
            </if>
            <if test="commodity.register!=null and commodity.register!=''">
                and register like concat('%',#{commodity.register},'%')
            </if>
            <if test="commodity.classify!=null and commodity.classify!=''">
                and classify like concat('%',#{commodity.classify},'%')
            </if>
            <if test="commodity.startTime!=null and commodity.startTime!='' and commodity.endTime!=null and commodity.endTime!=''" >
                and date_format(create_time,'%Y-%m-%d')  between  #{commodity.startTime} and  #{commodity.endTime}
            </if>
            <choose>
                <when test="commodity.status!=null and commodity.status!=''and commodity.status !='5'">
                    and status = #{commodity.status}
                </when>
                <otherwise>
                    and status != 4
                </otherwise>
            </choose>
        order by create_time desc

    </select>
    <select id="selectLastTime" resultType="java.util.Date">
        select c.create_time from qff_commodity c order by c.create_time desc limit 1
    </select>

    <select id="getPageConserve" resultType="com.neefull.fsp.web.qff.entity.Commodity">
        select * from qff_commodity where stage = #{stage}
        <if test="transport!=null and transport!=''">
            and transport like concat('%',#{transport},'%')
        </if>
        <if test="number!=null and number!=''">
            and number like concat('%',#{number},'%')
        </if>
        <if test="plant!=null and plant!=''">
            and plant like concat('%',#{plant},'%')
        </if>
        <if test="kMater!=null and kMater!=''">
            and k_mater like concat('%',#{kMater},'%')
        </if>
        <if test="kBatch!=null and kBatch!=''">
            and k_batch like concat('%',#{kBatch},'%')
        </if>
        <if test="rMater!=null and rMater!=''">
            and r_mater like concat('%',#{rMater},'%')
        </if>
        <choose>
            <when test="isDanger =='01'">
                and is_danger = '01'
            </when>
            <when test="isDanger =='00'">
                and is_danger != '01'
            </when>
        </choose>
        <if test="pMater!=null and pMater!=''">
            and p_mater like concat('%',#{pMater},'%')
        </if>
        <if test="rBatch!=null and rBatch!=''">
            and r_batch like concat('%',#{rBatch},'%')
        </if>
        <if test="manuDate!=null and manuDate!=''">
            and manu_date like concat('%',#{manuDate},'%')
        </if>
        <if test="expiryDate!=null and expiryDate!=''">
            and expiry_date like concat('%',#{expiryDate},'%')
        </if>
        <if test="quarantine!=null and quarantine!=''">
            and quarantine like concat('%',#{quarantine},'%')
        </if>
        <if test="getRemark!=null and getRemark!=''">
            and get_remark like concat('%',#{getRemark},'%')
        </if>
        <if test="initDate!=null and initDate!=''">
            and init_date like concat('%',#{initDate},'%')
        </if>
        <if test="rConf!=null and rConf!=''">
            and r_conf like concat('%',#{rConf},'%')
        </if>
        <if test="repTime!=null and repTime!=''">
            and rep_time like concat('%',#{repTime},'%')
        </if>
        <if test="reason!=null and reason!=''">
            and reason like concat('%',#{reason},'%')
        </if>
        <if test="compNumber!=null and compNumber!=''">
            and comp_number like concat('%',#{compNumber},'%')
        </if>
        <if test="ba!=null and ba!=''">
            and ba like concat('%',#{.ba},'%')
        </if>
        <if test="source!=null and source!=''">
            and source like concat('%',#{source},'%')
        </if>
        <if test="register!=null and register!=''">
            and register like concat('%',#{register},'%')
        </if>
        <if test="classify!=null and classify!=''">
            and classify like concat('%',#{classify},'%')
        </if>
        <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''" >
            and date_format(create_time,'%Y-%m-%d')  between  #{startTime} and  #{endTime}
        </if>
        <choose>
            <when test="status == '2'">
                and status = 2
            </when>
            <otherwise>
                and status != 4
            </otherwise>
        </choose>
        order by create_time desc
        <if test="pageNum == null " >
            limit  #{pageSize}
        </if>

    </select>

</mapper>