<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neefull.fsp.web.qff.mapper.RocheMapper">
    <update id="updateRocheStatus">
        update qff_roche set status = #{status} where id = #{id}
    </update>

    <select id="getRochePage" resultType="com.neefull.fsp.web.qff.entity.Roche">
        select * from qff_roche where 1=1
        <if test="roche.materCode!=null and roche.materCode!=''">
            and mater_code like concat('%',#{roche.materCode},'%')
        </if>
        <if test="roche.batch!=null and roche.batch!=''">
            and batch like concat('%',#{roche.batch},'%')
        </if>
        <if test="roche.number!=null and roche.number!=''">
            and number like concat('%',#{roche.number},'%')
        </if>
        <if test="roche.sponsor!=null and roche.sponsor!=''">
            and sponsor like concat('%',#{roche.sponsor},'%')
        </if>
        <if test="roche.reqDate!=null and roche.reqDate!=''">
            and req_date like concat('%',#{roche.reqDate},'%')
        </if>
        <if test="roche.reason!=null and roche.reason!=''">
            and reason like concat('%',#{roche.reason},'%')
        </if>
        <if test="roche.materName!=null and roche.materName!=''">
            and mater_name like concat('%',#{roche.materName},'%')
        </if>
        <if test="roche.quantity!=null and roche.quantity!=''">
            and quantity like concat('%',#{roche.quantity},'%')
        </if>
        <if test="roche.actions!=null and roche.actions!=''">
            and actions like concat('%',#{roche.actions},'%')
        </if>
        <if test="roche.exceptDate!=null and roche.exceptDate!=''">
            and except_date like concat('%',#{roche.exceptDate},'%')
        </if>
        <if test="roche.completeDate!=null and roche.completeDate!=''">
            and complete_date like concat('%',#{roche.completeDate},'%')
        </if>
        <if test="roche.follow!=null and roche.follow!=''">
            and follow like concat('%',#{roche.follow},'%')
        </if>
        <if test="roche.startTime!=null and roche.startTime!='' and roche.endTime!=null and roche.endTime!=''">
            and date_format(create_time,'%Y-%m-%d') between  #{roche.startTime} and  #{roche.endTime}
        </if>
        <choose>
            <when test="roche.status!=null and roche.status!=''">
                and status = #{roche.status}
            </when>
            <otherwise>
                and status !=4
            </otherwise>
        </choose>

    order by create_time  desc
    </select>
    <select id="getPageConserve" resultType="com.neefull.fsp.web.qff.entity.Roche">
        select * from qff_roche where 1=1
        <if test="materCode!=null and materCode!=''">
            and mater_code like concat('%',#{materCode},'%')
        </if>
        <if test="batch!=null and batch!=''">
            and batch like concat('%',#{batch},'%')
        </if>
        <if test="number!=null and number!=''">
            and number like concat('%',#{number},'%')
        </if>
        <if test="sponsor!=null and sponsor!=''">
            and sponsor like concat('%',#{sponsor},'%')
        </if>
        <if test="reqDate!=null and reqDate!=''">
            and req_date like concat('%',#{reqDate},'%')
        </if>
        <if test="reason!=null and reason!=''">
            and reason like concat('%',#{reason},'%')
        </if>
        <if test="materName!=null and materName!=''">
            and mater_name like concat('%',#{materName},'%')
        </if>
        <if test="quantity!=null and quantity!=''">
            and quantity like concat('%',#{quantity},'%')
        </if>
        <if test="actions!=null and actions!=''">
            and actions like concat('%',#{actions},'%')
        </if>
        <if test="exceptDate!=null and exceptDate!=''">
            and except_date like concat('%',#{exceptDate},'%')
        </if>
        <if test="completeDate!=null and completeDate!=''">
            and complete_date like concat('%',#{completeDate},'%')
        </if>
        <if test="follow!=null and follow!=''">
            and follow like concat('%',#{follow},'%')
        </if>
        <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
            and date_format(create_time,'%Y-%m-%d') between  #{startTime} and  #{endTime}
        </if>
        <choose>
            <when test="status != ''">
                and status = #{status}
            </when>
            <otherwise>
                and status != 4
            </otherwise>
        </choose>
        order by create_time desc

    </select>
</mapper>